# assume torch is already installed

# pycolmap for data parsing
git+https://github.com/samusynth/pycolmap_parser@ee20da90fcf49e8bc30a4c825e63c60bf7deb9c1
# (optional) nerfacc for torch version rasterization 
# git+https://github.com/nerfstudio-project/nerfacc

viser
nerfview==0.0.2
imageio[ffmpeg]
numpy<2.0.0
scikit-learn
tqdm
torchmetrics[image]
opencv-python
tyro>=0.8.8
Pillow
tensorboard
tensorly
pyyaml
